.img-wrap {
    position: relative;
}

.img-wrap .img-delete {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
}

.item-info-list {
    margin-top: -10px;
}

.table td {
    padding: .15rem
}