            {% for item in items %}
                {% if item.glazes.__len__()==1 and item.glazes[0]==g1.id and item.glazes[0]==g2.id %}
                        {% if item.get_main_image()%}
                             <a href="{{ url_for('item', item_id=item.id)}}">
                                <img style="width:150px"  src="{{ url_for('thumbnails', image=item.get_main_image())}}">
                             </a>
                        {% else %}
                            <p><b>{{ item.name }}</b></p>
                        {% endif %}
                {% elif item.glazes[1]==item.glazes[0]%}
                    {% if item.glazes[0]==g1.id%}
                        {% if item.glazes[1]==g2.id%}
                            {% if item.get_main_image()%}
                                <a href="{{ url_for('item', item_id=item.id)}}">
                                    <img style="width:150px"  src="{{ url_for('thumbnails', image=item.get_main_image())}}">
                                </a>
                            {% else %}
                                <p><b>{{ item.name }}</b></p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% elif item.glazes[0]==g1.id%}
                    {% if item.glazes[1]==g2.id%}
                        {% if item.get_main_image()%}
                             <a href="{{ url_for('item', item_id=item.id)}}">
                                <img style="width:150px"  src="{{ url_for('thumbnails', image=item.get_main_image())}}">
                             </a>
                        {% else %}
                            <p><b>{{ item.name }}</b></p>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}