{% extends "base.html" %}
{% block content %}
<h1>О проекте</h1>
    <h3>Где я?</h3>
    <p><b>My Glazes</b> - это справочник керамических пробников.</p>
    <h3>Как им пользоваться?</h3>
    <p>Для того, чтобы добавить свой пробник, сначала нужно через меню вверху страницы добавить необходимые материалы (глазури, глину).
    После этого можно добавить пробник, указав его название, описание, материалы, температуру, фото и т.д.
        Можно сделать этот пробник публичным, тогда он по ссылке будет доступен пользователям, не зарегистрированным в My Glazes.</p>
    <h3>Остались вопросы, жалобы или пожелания?</h3>
    <p>Можете отправить их автору через:</p>
    <ul>
        <li><a target="_blank" href="https://t.me/heavyheavyrain">Telegram</a></li>
        <li><a target="_blank" href="https://www.instagram.com/hv_rain/">Instagram</a></li>
        <li><a target="_blank" href="https://vk.com/almighty_raynor">VKontakte</a></li>
        </li>
    </ul>

{% endblock %}