{% extends "base.html" %}

{% block content %}
<h1>{{ title }}</h1>
<form enctype="multipart/form-data" action="" method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }}<br>
        {{ form.name(size=40, placeholder="Глина: Глазурь 1 + Глазурь 2 + Глазурь 3",class="form-control") }}<br>
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.description.label }}<br>
        {{ form.description(size=40,class="form-control") }}<br>
        {% for error in form.description.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            {{ form.glaze_list[0].label }}
            {{ form.glaze_list[0](size=1,class="form-control") }}<br>
            {% for error in form.glaze_list[0].errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group col-md-4">
            {{ form.glaze_list[1].label }}
            {{ form.glaze_list[1](size=1,class="form-control") }}<br>
            {% for error in form.glaze_list[1].errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group col-md-4">
            {{ form.glaze_list[2].label }}
            {{ form.glaze_list[2](size=1,class="form-control") }}<br>
            {% for error in form.glaze_list[2].errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            {{ form.clay_id.label }}
            {{ form.clay_id(size=1,class="form-control") }}<br>
            {% for error in form.clay_id.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group col-md-4">
            {{ form.temperature.label }}
            {{ form.temperature(size=4,class="form-control") }}<br>
            {% for error in form.temperature.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            {{ form.images.label }}<br>
            {{ form.images(size=1,class="form-control") }}<br>
            {% for error in form.images.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    </div>
    {% if form.item %}
    <div class="row row-cols-1 row-cols-md-4">
        {% for image in form.item.get_images() %}
        <div class="col mb-4">
            <div class="img-wrap">
                <!--                <a href="{{ url_for('edit_item', item_id=form.id, delete_image=image.id)}}"-->
                <a href="{{ url_for('delete_image', item_id=form.id, image_id=image.id)}}"
                   class="btn btn-danger btn-lg rounded-0 img-delete" type="button" data-toggle="tooltip"
                   data-placement="top" title="Удалить"><i class="fa fa-trash"></i></a>
                <a href="{{ url_for('make_image_first', item_id=form.id, image_id=image.id)}}"
                   class="btn btn-info btn-lg rounded-0 img-make-first" type="button" data-toggle="tooltip"
                   data-placement="top" title="Сделать первой"><i class="fa fa-arrow-circle-up"></i></a>
                <img class="card-img-top" src="{{ url_for('thumbnails', image=image.name)}}">
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <hr>
    <div class="form-row">
        <div class="form-group col-md-4">
            {{ form.is_public.label }}
            {{ form.is_public() }}<br>
            {% for error in form.is_public.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-group col-md-4">
            {{ form.submit(class="btn btn-primary mb-2") }}
        </div>
        <div class="form-group col-md-4">
            {% if form.id %}
            <a href="{{ url_for('delete_item', item_id=form.id)}}" class="btn mb-2 btn-danger">Удалить</a>
            {% endif %}
        </div>
    </div>

</form>

{% endblock %}