{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>{{item.name}}</h1>
    <div class="row">
        <div class="col-md-8 col-12">

            {% if item.get_main_image()%}
            <a data-lightbox="{{ item.get_main_image().name }}" href="{{ url_for('images', image=item.get_main_image().name)}}">
                <img class="card-img-top" src="{{ url_for('images', image=item.get_main_image().name)}}">
            </a>
            {% else %}
            <p><b>Нет изображения</b></p>
            {% endif %}
        </div>
        <div class="col-md-4 col-12">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.description }}</p>
            <p class="card-text">Температура: {{ item.temperature }}<br>
            Автор: {{ item.get_author().username }} ({{item.get_edit_date()}})</p>
            {% if item.user_id==current_user.id %}
            <a href="{{ url_for('edit_item', item_id=item.id)}}" class="btn btn-sm btn-success">Изменить</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}