{% extends "base.html" %}
{% block content %}


    <h1>{{item.name}}</h1>

    <div class="row row-cols-1 row-cols-md-4">
        {% for image in item.get_images() %}
        <div class="col mb-4">
            <a data-lightbox="{{ image }}" href="{{ url_for('images', image=image.name)}}">
                <img class="card-img-top" src="{{ url_for('thumbnails', image=image.name)}}">
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12">
            <p class="card-text"><b>Описание:</b> {{ item.description }}</p>
            <p class="card-text"><b>Глина:</b> {{ item.get_clay_name() }}</p>
            <p class="card-text"><b>Глазурь:</b></p>
            <ol class="item-info-list">
                {% for glaze in item.get_glazes() %}
                <li>{{glaze.name}}</li>
                {% endfor %}
            </ol>
            <p class="card-text"><b>Температура:</b> {{ item.temperature }}</p>
            <p class="card-text"><b>Автор:</b> {{ item.get_author().username }} ({{item.get_edit_date()}})</p>
            {% if item.user_id==current_user.id %}
            <a href="{{ url_for('edit_item', item_id=item.id)}}" class="btn btn-sm btn-success">Изменить</a>
            {% endif %}
        </div>
    </div>

{% endblock %}