{% extends "base.html" %}
{% block content %}
<h1>Мои пробники</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="form-row">
    <div class="form-group col-md-4">
        {{ form.glaze_filter.label }}
        {{ form.glaze_filter( class="browser-default custom-select") }}
    </div>
    <div class="form-group col-md-4">
        {{ form.clay_filter.label }}
        {{ form.clay_filter( class="browser-default custom-select") }}
    </div>
    <div class="form-group col-md-4">
        {{ form.surface_filter.label }}
        {{ form.surface_filter( class="browser-default custom-select") }}
    </div>
    </div>
    {{ form.submit(class="btn btn-primary mb-2") }}

</form>
<hr>
<div class="row row-cols-1 row-cols-md-4">
    {% for item in items.items %}
    <div class="col mb-4">
        {% include '_list_item.html' %}
    </div>
    {% endfor %}
</div>
{% endblock %}