{% extends "base.html" %}
{% block content %}
<h1>{{title}}</h1>
{% include '_materials_paginator.html' %}
<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Тип</th>
            <th scope="col"> </th>
        </tr>
        </thead>
        <tbody>
        {% for mat in materials.items %}
        <tr>
            <td>
                {{ mat.name }}
            </td>
            <td>
                {{ mat.get_type() }}
            </td>
            <td>
                <ul class="list-inline m-0">
                    <li class="list-inline-item">
                        <a href="{{ url_for('edit_material', material_id=mat.id)}}"
                           class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                           data-placement="top" title="Изменить"><i class="fa fa-edit"></i></a>
                    </li>
                    <li class="list-inline-item d-none d-sm-inline-block">
                        {% if mat.check_in_use() %}
                        <a
                           class="btn btn-secondary btn-sm rounded-0" type="button" data-toggle="tooltip"
                           data-placement="top"  disabled title="Невозможно удалить, используется в существующих пробниках" ><i class="fa fa-trash"></i></a>
                        {% else %}
                        <a href="{{ url_for('delete_material', material_id=mat.id)}}"
                           class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                           data-placement="top" title="Удалить"><i class="fa fa-trash"></i></a>
                        {% endif %}
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<hr>
{% include '_materials_paginator.html' %}
{% endblock %}